/* обнулим все отступы */
.item{
    border: 1px solid gray;
    margin-bottom: 20px;
}

.image{
    /* размер фонового изображения */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 100%; */
    width: 460px;
    height: 335px;
}

.info{
    padding: 10px;
}

.info h2{
    margin-bottom: 5px;
}

.info p{
    margin-bottom: 10px;
}