.wrapper {
  position: relative;
  min-width: 850px;
}

.left-block {
  /* outline: 1px solid black; */
  position: absolute;
  text-align: center;
  width: 60vw;
  margin: 10vh 0 0 0;
}

.right-block {
  /* outline: 1px solid black; */
  position: absolute;
  left: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 250px;
  margin: 20vh 0 0 0;
}

.right-block h1 {
  margin: 10px 0 10px 0;
  font-size: 4.2rem;
  font-weight: 600;
  color: greenyellow;
  text-shadow:2px -2px 6px black;
}

.right-block h2 {
  margin: 10px 0 10px 0;
  font-size: 4.2rem;
  font-weight: 600;
  color: greenyellow;
  text-shadow:2px -2px 6px black;
}
